@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto px-4 xl:px-0;
}

.active {
  @apply text-primary;
}
.menu__item {
  @apply text-xl font-semibold;
}

.banner__section {
  background: url("./assets/images/bg-header.png"), rgba(0, 0, 0, 0.45);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  @apply py-20 lg:py-40;
}

.offer__section {
  background: url("./assets/images/bg-offer.jpg"), rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.offer_top {
  background: url("./assets/images/brush-bottom.png");
  background-position: center;
  background-size: cover;
  height: 50px;
}
.offer_bottom {
  background: url("./assets/images/brush-top.png");
  background-position: center;
  background-size: cover;
  height: 50px;
}
